<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Create ToDo</title>
  </head>
  <body>
    <form action="{{ url_for('add') }}" method="POST">
      {{ form.hidden_tag() }}
      <!-- CSRF protection -->

      <p>
        <label>{{ form.name.label }}</label>
        {{ form.name(class="form-input") }}
      </p>

      <p>
        <label>{{ form.progress.label }}</label>
        {{ form.progress(class="form-select") }}
      </p>

      <button type="submit">Go do it!</button>
    </form>
  </body>
</html>
