<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Home</title>
  </head>
  <body>
    <div class="all_todoes">
      <h1>Getting there!</h1>
      {% for todo in todoes %}

      <div class="todo-item">
        <span>{{ todo.name }} - {{ todo.progress }}</span>
        <div class="todo-buttons">
          <form
            action="{{ url_for('update_todo', todo_id=todo.id) }}"
            method="POST"
          >
            <input type="hidden" name="action" value="done" />
            <button class="done_todo" type="submit">Done</button>
          </form>

          <form
            action="{{ url_for('update_todo', todo_id=todo.id) }}"
            method="POST"
          >
            <input type="hidden" name="action" value="delete" />
            <button type="submit">Delete</button>
          </form>
        </div>
      </div>
      {% endfor %}
    </div>
    <a href="{{ url_for('home') }}">
      <button class="back_button">Back</button>
    </a>
    <a href="{{ url_for('add') }}">
      <button class="add_button">New</button>
    </a>
  </body>
</html>
